*{
	margin: 0;
	padding: 0;
}

html, body{
		width: 100%;
		height: 100%;
		font-size: 14px;
		font-weight: normal;
}
.background{
	width: 100%;
	height: 100%;
	background-image: url(../Images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}
.nav{
	width: 350px;
	height: auto;
	background-color: Violet;
	position: absolute;
	top: 20%;
	Left: 0;
}
.nav a{
		text-decoration: none;
		font-size: 28px;
		font-family: verdana;
		font-weight: bold;
		height: 90px;
		margin: 5px 0;
		float: left;
		display: inline-block;
		background-color: black;
		color: white;
		line-height: 90px;
		text-align: center;
		transition: 300ms;
}

a.active, .nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
}
.a{
	width: 90%;
}
.b{
	width: 85%;
}
.c{
	width: 80%;
}
.content{
	position: absolute;
	width: 1500px;
	min-height: 800px;
	height: auto;
	/*background-color: gray;*/
	right: 0;
	top: 10%;
}
.home{
	position: absolute;
	right: 650px;
	bottom: 250px;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}
.home h1{
	font-size: 95px;
	padding-right: 90px;
	border-bottom: 1px solid white;
}
.home h3{
	font-size: 28px;
	padding: 5px 0;
	opacity: 0.6;
}

.aboutme{
	position: absolute;
	right: 0;
	top: 20px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	padding: 0 60px;
	display: none;
}
.aboutme p{
	font-size: 35px;
	line-height: 38px;
	margin-bottom: 15px;
}

.contactme {
	position: absolute;
	right: 650;
	top: 10px;
	color: white;
	padding: 0 60px;
	display: none;
}
.inputtext{
	width: 50%;
	height: 60px;
	border: 3px solid black;
	color: white;
	background-color: rgba(0,0,0,0.7);
	font-size: 28px;
	padding: 0 10px;
	float: left;
}
.inputmessage{
	width: 50%;
	height: 60px;
	border: 3px solid black;
	color: white;
	background-color: rgba(0,0,0,0.7);
	font-size: 28px;
	padding: 0 10px;
	float: left;
}
.submitbutton{
	width: 160px;
	height: 65px;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	color: black;
	font-size: 28px;
	border: none;
	font-weight: bold;
	float: left;
	clear: both;
}





